<form method="POST" action="/new">
    h1 Send Message

    p Sender
    input(type="text", name="sender", value="David")

    p New Message
    input(type="text", name="textMessage")

    button(type="submit") Submit
</form>
a(href="/") Back to Messages